.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    padding: 10px 20px;
}

.logo {
    width: 170px;
}

.nav-items > ul {
    display: flex;
    font-size: 24px;
    padding: 0px 20px;
    list-style-type: none;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}

.search {
    padding: 10px;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
    
}

.res-card {
    margin: 5px;
    width: 200px; 
    height: 300px;
    padding: 5px;
    background-color: #f0f0f0;
    
}

.res-card:hover {
    border: 2px solid black;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.res-logo {
    width: 100%;
    
}




